<h2>Log in</h2>

<form action="/process-login" method="post">
  <label for="">
    Email
    <input type="text" name="email" placeholder="e.g. blah@gmail.com">
  </label>

  <label for="">
    Password
    <input type="password" name="password" placeholder="**********">
  </label>

  <a href="/google/login">Google login</a>

  <button>Log in</button>

</form>