{{!-- <h2>Sign up</h2>

<form action="/process-signup" method="post">
<label for="">
  Your Name
  <input type="text" name="name" placeholder="e.g. Han Solo">
</label>
<br>

<label for="">
  Email
  <input type="email" name="email" placeholder="e.g. blah@gmail.com">
</label>
<br>

<label for="">
  Password
  <input type="password" name="password" placeholder="Password">
</label>
<br>

  <button>🤙 Sign up</button>
</form>

<a href="/google/login">Google login</a> --}}
