// Color to use: https://flatuicolors.com/palette/us
// Green: #55efc4
// blue light: #81ecec
// blue light : #74b9ff

// Google font
// font-family: 'Dosis', sans-serif;
// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Tajawal', sans-serif;
//Handwriting font (for the user input)
// font-family: 'Amatic SC', cursive;
// font-family: 'Indie Flower', cursive;

body {
  font-family: 'Tajawal', sans-serif;
  padding: 10px;
}

.logo {
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  font-size: 23px;
}

.bg-light {
  background-color: #81ecec;
}


hr {
  margin-top: 50px;
  margin-bottom: 50px;
}